<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Choose a story</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Choose a Madlib story</h1>

    <h3>Park Story</h3>
    <a href = "/Form"><button type="btn btn-info" href="/form">Park Story</button></a><br>
    <h3>Albert Einstein Story</h3>
    <a href = "/Form2"><button type="btn btn-info" href="/form2">Albert Einstein</button></a><br>
    <h3>Famous Invention</h3>
    <a href = "/Form3"><button type="btn btn-info" href="/form3">Famous Invention</button></a><br>
  </body>
</html>