<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Choose a story</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Choose a Madlib story</h1>
    <form class="container">
      <option action="/Form">A day in the park</option>
      <option action="/Form2">Albert Einstein</option>
      <option action="/"></option>
      <option action="/"></option>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>