<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Famous Invention</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Famous Invention</h1>
    <form action="/MadlibInvention" method="post">
      <label for="">Female Celebrity</label>
      <input id="FemaleCelebrity" name="FemaleCelebrity" type="text"><br><br>
      <label for="MaleCelebrity">Male Celebrity</label>
      <input id="MaleCelebrity" name="MaleCelebrity" type="text"><br><br>
      <label for="Noun1">Noun</label>
      <input id="Noun1" name="Noun1" type="text"><br><br>
      <label for="PluralNoun1">Plural Noun</label>
      <input id="PluralNoun1" name="PluralNoun1" type="text"><br><br>
      <label for="Adjective1">Adjective</label>
      <input id="Adjective1" name="Adjective1" type="text"><br><br>
      <label for="PluralNoun2">Plural Noun</label>
      <input id="PluralNoun2" name="PluralNoun2" type="text"><br><br>
      <label for="Adjective2">Adjective</label>
      <input id="Adjective2" name="Adjective2" type="text"><br><br>
      <label for="PluralNoun3">Plural Noun</label>
      <input id="PluralNoun3" name="PluralNoun3" type="text"><br><br>
      <label for="Noun2">Noun</label>
      <input id="Noun2" name="Noun2" type="text"><br><br>
      <label for="Place">Place</label>
      <input id="Place" name="Place" type="text"><br><br>
      <label for="PluralNoun4">Plural Noun</label>
      <input id="PluralNoun4" name="PluralNoun4" type="text"><br><br>
      <label for="Noun3">Noun</label>
      <input id="Noun3" name="Noun3" type="text"><br><br>
      <label for="PluralProfession">Plural Profession</label>
      <input id="PluralProfession" name="PluralProfession" type="text"><br><br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>