<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>A Trip to the park Madlib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in your name and your friend's name to create your custom postcard!</h1>
    <form action="/MadlibPark" method="post">
      <label for="Adjective1">Adjective</label>
      <input id="Adjective1" name="Adjective1" type="text">
      <label for="Noun1">Noun</label>
      <input id="Noun1" name="Noun1" type="text">
      <label for="Verb1">Verb</label>
      <input id="Verb1" name="Verb1" type="text">
      <label for="Noun2">Noun</label>
      <input id="Noun2" name="Noun2" type="text">
      <label for="Clothing">A Article of Clothing</label>
      <input id="Clothing" name="Clothing" type="text">
      <label for="Adjective2">Adjective</label>
      <input id="Adjective2" name="Adjective2" type="text">
      <label for="Noun3">Noun</label>
      <input id="Noun3" name="Noun3" type="text">
      <label for="Feeling">A Feeling</label>
      <input id="Feeling" name="Feeling" type="text">
      <label for="Verb2">Verb</label>
      <input id="Verb2" name="Verb2" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>