<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Madlib about Albert Einstein</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the form to create a Madlib about Albert Einstein!</h1>
    <form action="/MadlibAlbert" method="post">
      <label for="FemaleCelebrity">Female Celebrity</label>
      <input id="FemaleCelebrity" name="FemaleCelebrity" type="text"><br><br>
      <label for="MaleCelebrity">Male Celebrity</label>
      <input id="MaleCelebrity" name="MaleCelebrity" type="text"><br><br>
      <label for="Noun1">Noun</label>
      <input id="Noun1" name="Noun1" type="text"><br><br>
      <label for="PluralNoun1">Noun</label>
      <input id="Noun2" name="Noun2" type="text"><br><br>
      <label for="Clothing">A Article of Clothing</label>
      <input id="Clothing" name="Clothing" type="text"><br><br>
      <label for="Adjective2">Adjective</label>
      <input id="Adjective2" name="Adjective2" type="text"><br><br>
      <label for="Noun3">Noun</label>
      <input id="Noun3" name="Noun3" type="text"><br><br>
      <label for="Feeling">A Feeling</label>
      <input id="Feeling" name="Feeling" type="text"><br><br>
      <label for="Verb2">Verb</label>
      <input id="Verb2" name="Verb2" type="text"><br><br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>